h1{
	color:Blue;
	font-weight:bold;
	font-family:"TimesNewRoman";
	font-size:80px;
	text-align:center;
}
IMG.imgcenter{
	display:block;
	margin-left:auto;
	margin-right:auto;
	border:none;
}

body{
	background-color:#FFEBCD;
}
p{
	font-family:"Times New Roman";
	font-size:30px;
	text-align:justify;
}
hr{
		height:20px;
		background-color:red;
		width:90;
		border-color:Black;
}